
.navbar
{
  background-color: rgb(23, 69, 206);
}


.navitem
{
  background-color: white;

}

h1{
    text-align: center;
    border: 5px solid rgb(247, 247, 253);
    color: rgb(242, 242, 248);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    background-blend-mode: normal;
}

a{
  text-align: center;
}

.container{
    
    background-image: url('https://www.worldatlas.com/r/w963-h562-c963x562/upload/3f/b5/a8/shutterstock-445559239.jpg');
    
}
.row2{
  background-color: white;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
    color: rgb(255, 255, 255);
}

strong{
  color: royalblue;
}

p {
    text-align: center;
    border: 5px solid rgb(244, 244, 247);
    color: rgb(246, 246, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 160%;

    
}
body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }

    .media
    {
      text-align: center;
      border: 5px solid rgb(23, 23, 241);

    }
    
    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
   