
.navbar
{
  background-color: rgb(5, 6, 7);
}

.navitem
{
  background-color: white;

}
html, body{
  background-color: rgb(223, 67, 67);
}
#homepage h1, #contactMe {
    text-align: center;
    font-size: 65px;
    background-blend-mode: normal;
    color: rgb(255, 253, 253);
    font-family: 'Tangerine',serif;
    text-shadow: 4px 4px px rgb(8, 8, 8);
}
img
{
  vertical-align: center;
}

.media{
  text-align: center;
}
a{
  text-align: center;
}

.container{
  margin-top: 45px;
  margin-bottom: 65px;
  background-color: blue;
    
}
.row2{
  background-color: white;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
    color: rgb(255, 255, 255);
}
h4{
font-style: italic;
color: white;

}

.paragraph p{
color: white;
font-size: 25px;
text-align: center;
}
strong{
  color: royalblue;
  text-align: center
  ;
}
#exp{
  text-align: center;
  color: rgb(255, 255, 255);
  font-style: initial;
}
#summary
{
  text-align: inherit;
    border: 5px solid rgb(0, 0, 0);
    color: white;
    font-size: 20px;
}

.card
{
  background-color: black;
  color: white;
}


p {
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;

    
}
